<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome, ENTER YOU TEXT BELOW </h1>
    <form action="/analyze" method="POST">
        {% csrf_token %}
    <textarea name="text" style="width: 1508px; height: 257px;"></textarea>
    <input type="checkbox" name="removepunc">Remove punctuations <br>
    <button type="submit"> Analyze now</button>
    </form>
    
</body>
</html>